<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <div>
            <button @click="btn()">
                swap
            </button>
            {{length-animate.length}}/{{length}}
            <input name="cb" id="cb" type="checkbox" v-model="auto">
            <label for="cb">auto run</label>
        </div>
        <br>
        <div>

            <transition-group name="list">
                <template v-for="(i, index) in array[0]">
                    <li v-if="done" :key="i[1]" class="done">
                        {{'█'.repeat(i[0])}}
                    </li>
                    <li v-else :key="i[1]">
                        {{'█'.repeat(i[0])}}
                        <span v-if="index == array[1]">
                            &lt; i am pivot
                        </span>
                        <span v-if="index == array[2]">
                            &lt; i am end
                        </span>
                    </li>
                </template>
            </transition-group>
        </div>

    </div>
</body>
<script>

    var array = [];

    var app = new Vue({
        el: "#app",
        data: {
            array,
            done: false,
            auto: false,
            animate: [],
            length: 0
        },
        methods: {
            btn() {
                if (this.animate.length == 0) {
                    this.done = false;
                    var array = [];
                    for (var i = 0; i < 20; i++) {
                        array.push([Math.round(Math.random() * 25), i]);
                    }
                    this.animate = dynaSort(array);
                    this.length = this.animate.length;
                }
                this.array = this.animate.shift();
                if (this.animate.length == 0) {
                    this.done = true;
                    return true;
                }
                else return false;
            }
        }
    });

    function update() {
        if (app.auto) app.btn();
        if (app.done) setTimeout(() => {
            update();
        }, 1000);
        else setTimeout(() => {
            update();
        }, 200);
    }
    update();

    function dynaSort(array, start, end, record) {

        if (start == null) start = 0;
        if (end == null) end = array.length - 1;
        if (record == null) record = [[array.map(x => x)]];

        if (start >= end) return record;
        console.log(start, end);
        var p = array[start][0];
        var i = start + 1;
        var j = end;

        while (true) {

            while (i < j) {
                if (array[j][0] < p) break;
                j--;
            }

            while (i < j) {
                if (array[i][0] > p) break;
                i++;
            }

            if (i == j) break;
            console.log('swap', i, j)
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;

            record.push([array.map(x => x), start, end]);
        }

        if (array[i][0] < p) {
            var temp = array[start];
            array[start] = array[i];
            array[i] = temp;
            record.push([array.map(x => x), start, end]);
        }

        dynaSort(array, start, i - 1, record);
        dynaSort(array, i, end, record);
        return record;
    }




</script>

</html>
