<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>神奇中敘轉後敘</h1>
        input
        <input type='text' v-model="input"> output
        <input type='text' v-model="result">
        <br><br>
        <json :value="record"></json>
    </div>
</body>
<script>

    function solve(str, record) {
        // 清理str
        str = String(str);
        // 清理左右兩端括號
        if (str[0] == '(' && str[str.length - 1] == ')')
            return solve(str.substr(1, str.length - 2), record);

        str = str.trim();
        // 找到最後執行的運算子
        var p = null;
        var max = null; // max means last
        var level = 0; // level of bracket


        var order = {
            '+': 2,
            '-': 2,
            '*': 1,
            '/': 1,
        }

        for (var i in str) {
            var c = str[i]; // current char
            if (c == '(') level++;
            if (c == ')') level--;
            var o = order[c]; // order of current char
            if (o == null) continue; // skip if not operator
            o -= level * 3; // apply level to order
            if (o >= max || max == null) {
                max = o;
                p = i;
            }
        }

        if (p == null) { // did not find any operator
            record.var = str;
            return str.length == 1 ? str : '(' + str + ')';
        }
        p = Number(p);

        // split the string into 3 part
        var left = str.substr(0, p);
        var right = str.substr(p + 1);

        var operator = str[p];
        record.operator = operator;
        record.left = {};
        record.right = {};

        left = solve(left, record.left);
        right = solve(right, record.right);
        return left + right + operator;
    }

    Vue.component('json', {
        props: ['value'],
        template: "<div style='borderLeft: solid 4px black;paddingLeft:8px'>" +
            "<template v-for='(x,i) in value'>{{i}}:<json v-if='x instanceof Object' :value='x'></json>"+
            "<span v-else style='backgroundColor:black;color:white;borderRadius:4px;padding:0px 4px'>{{x}}</span><br></template>" +
            "</div>"
    })

    var app = new Vue({
        el: '#app',
        data: {
            input: 'a+b*c*(d+e)',
            record: {}
        },
        computed: {
            result() {
                this.record = {};
                console.log('start')
                return solve(this.input, this.record);
            }
        }
    });

</script>

</html>